.footer {
  display: none;
}

@media #{$tablet} {
  .footer {
    @include container;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: $footer-bg;
    min-height: 127px;
  }
}

@media #{$desktop} {
  .footer {
    min-height: 197px;
    padding: 0 130px;
  }
}
